@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary: #940ed7;
  --primary-dark: #c76ad2ac;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.text-primary {
  color: var(--primary);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.hover\:bg-primary:hover {
  background-color: var(--primary);
}

.hover\:bg-primary-dark:hover {
  background-color: var(--primary-dark);
}

.hover\:text-primary:hover {
  color: var(--primary);
}

.hover\:text-primary-dark:hover {
  color: var(--primary-dark);
}

.focus\:ring-primary:focus {
  --tw-ring-color: var(--primary);
}

.focus\:border-primary:focus {
  border-color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.hover\:bg-primary\/10:hover {
  background-color: rgba(139, 85, 226, 0.1);
}

